//======== Main ===========

$main1Color: #00730C;
$main2BlackColor: #0B0B0B;
$main3Color: #0C4B35;
$mainBg1Color: #E3E3E3;
$mainBg2Color: #242424;
$mainBg3Color: #F0F0F0;
$mainBgWhiteColor: #FFFFFF;
$main1LightBgColorSecondary: #D9F1E0;
$main3LightColor: #FBEEE7;
$main01BgColor: #FFF8F1;
$mainBgLightColor4: #F6F6F6;


//====== Typography ========
$tpHeadingFontColor: #212529;
$tpParagraphColor: #676767;
$tpParagraphColor2: #D7D7D7;


//====== Social Icon =========
// $FacebookColor: #
$TwitterColor: #009FEE;
$GoogleColor: #367CFF;
$LinkedinColor: #0079B2;
$PinterestColor: #EF1408;

$icomoon-font-family: "icons" !default;
$icomoon-font-path: "../fonts" !default;

$icon-emai: "\e90e";
$icon-phone: "\e914";
$icon-location: "\e913";
$icon-arrow-down: "\e90a";
$icon-call: "\e90d";
$icon-plant: "\e916";
$icon-arrow-right: "\e90c";
$icon-tree: "\e901";
$icon-cutting: "\e902";
$icon-design: "\e903";
$icon-growing: "\e904";
$icon-scaping: "\e905";
$icon-branch: "\e906";
$icon-weeds: "\e907";
$icon-watering: "\e908";
$icon-questions: "\e918";
$icon-work: "\e91b";
$icon-planting: "\e917";
$icon-garden: "\e910";
$icon-google: "\e911";
$icon-facebook: "\e90f";
$icon-twitter: "\e91a";
$icon-pinterest: "\e915";
$icon-linkedin: "\e912";
$icon-arrow-left: "\e90b";
$icon-arrow2-right: "\e909";
$icon-star: "\e919";
$icon-admin: "\e900";
$icon-plus: "\ea0a";
$icon-cross: "\ea0f";


